body
    {
    width:90vw;
    margin: auto;
    font-size: 20px;
    }
section
    {
    background-color: aliceblue;
    padding: 40px;
    }
header{ 
    background-color: rgb(117, 231, 239);
    }
a
     { 
    margin-left: 7.5vw; 
color: black;
    }

main { 
    background-color: antiquewhite;
    font-size: larger;
    padding: 20px;
    }

img { 
    width: 30vw;
    margin-top: 0.8vw;
    }   

h1 {
     text-align: center;
    }

div.parágrafodireito 
    { float: left; 
    margin-left: 30vw;
    margin-right: 0.9vw;
    text-align: justify; 
    }
    hr
     {
         color: black;
    }